.container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    padding: 16px;
    margin: 32px;
    .row{
        display:flex;
        padding: 16px 0px;
        justify-content: space-between;
    }
    a{
        text-decoration: none;
    }
}